html,
body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0px;
}
.tColor {
  background: -webkit-linear-gradient(rgb(238, 3, 3), rgb(253, 228, 2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ggrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}
.background {
  overflow: hidden;
  background-image: linear-gradient(to bottom right, red, yellow);
  border-radius: 4%;
}
.background :hover {
  cursor: pointer;
  transform: scale(1.2);
}
