.name {
  margin-left: 10rem;
  padding: 10px;
  overflow: hidden;
  width: 400px;
  border: 1px solid red;
  color: aliceblue;
}
.name_anim {
  font-size: 2rem;
  animation-name: example;

  animation-duration: 2s;
}
.name_anim1 {
  font-size: 2rem;
  animation-name: right;
  width: 350px;
  animation-duration: 3s;
}

@keyframes example {
  from {
    margin-left: -100px;
  }
  to {
    margin-left: 0px;
  }
}
@keyframes right {
  from {
    margin-left: 600px;
  }
  to {
    margin-left: 0px;
  }
}
